.item {
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid black;

  &__form {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: end;
    margin-bottom: 5px;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    align-items: center;
  }

  &--check {
    text-decoration: line-through;
  }
}
